<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Add song</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container"></div>
<h2>Add new song</h2>
<div class="col-md-4">
<form th:object="${song}" th:action="@{save}" action="#" method="post">
<label for="name">Song</label>
<input type="text" id="name" th:field="*{name}" class="form-control"/>
<div style="clear: both; display: block; height: 10px;"></div>
<label for="artist">Artist</label>
<input type="text" id="artist" th:field="*{artist}" class="form-control"/>
<div style="clear: both; display: block; height: 10px;"></div>
<label for="album">Album</label>
<input type="text" id="album" th:field="*{album}" class="form-control"/>
<div style="clear: both; display: block; height: 10px;"></div>
<label for="year">Publishing year</label>
<input type="text" id="year" th:field="*{year}" class="form-control"/>
<div style="clear: both; display: block; height: 10px;"></div>
<label for="genrelist">Genre</label>
<select id="genrelist" th:field="*{genre}" class="form-control">
	<option th:each="genre: ${genres}" th:value="${genre.genreid}" th:text="${genre.genreName}"></option>
</select>
<div style="clear: both; display: block; height: 10px;"></div>

<input type="submit" class="btn btn-primary"  value="Save">
</form>
</div>
</body>
</html>